<h1>Listing Articles</h1>
<%= link_to 'New article', new_article_path %>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th colspan="3"></th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= link_to 'Show', article_path(article) %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
      <td><%= link_to 'Delete', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
<h1>Simple Expression</h1>
<p>Tommy is <%= @age %> year old.</p>

<h1>Simple Expression</h1>
<% for i in 1..5 %>
<p>Heading number <%= i%></p>
<% end  %>

<h1>Simple Table</h1>
<table>
  <tr>
    <% @table["headings"].each do |head| %>
    <td>
      <b><%= head %></b>
    </td>
    <% end %>
  </tr>
  <% @table["body"].each do |row|%>
  <tr>
    <% row.each do |col| %>
    <td>
      <%= col %>
    </td>
    <% end %>
  </tr>
  <% end %>
</table>
